/* CSS HEX */
/* --polished-pine: #42a397ff;
--copper-red: #b76a56ff;
--rich-black-fogra-29: #03191eff;
--marigold: #f3a712ff;
--queen-blue: #4a6994ff; */
@font-face {
    font-family: "Friz Quadrata Regular";
    src: url("./Fonts/Friz\ Quadrata\ Regular.ttf");
  }

body {
    /* background: linear-gradient(45deg, rgb(73, 106, 252), rgb(32, 103, 170)); */
    background-image: url(lol-bckg.jpg);
    background-size: cover;
    text-align: center;
    font-family: "Friz Quadrata Regular";
}

h1 {
    font-size: 50px;
    color: rgba(243, 167, 18, 1);
    text-align: center;
}